There was a <b>service error</b> recognizing your speech.<br /><br /><b
  >&#x2022;</b
>
Check if your microphone is working well and recording clearly.<br /><br />
<b>&#x2022;</b> Make sure the text that you are pronuncing is in the correct
field and configured language. Take a look at the Settings.<br /><br />
<b>&#x2022;</b> Check <b>debug.json</b> file in your addon's folder and contact
me on GitHub if you need help:
<a href="https://github.com/warleysr/ankipa">github.com/warleysr/ankipa</a>
